html {
  background-color: rgb(103, 103, 255);
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

form {
  width: 50vw;
  background-color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #333;
  padding: 2em;
}

.card {
  border: none;
  padding: 0;
  margin: 0;
}

.card__title {
  font-size: 2em;
  font-weight: bold;
  color: #454e4f;
  margin-bottom: 1em;
  text-align: center;
}

.card__label {
  display: block;
  margin: 1em 0 0.3em;
  color: #333;
  text-transform: uppercase;
}

.card__input {
  width: 100%;
  padding: 0.7em;
  border: none;
  border-bottom: 2px solid #333;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 1em;
  transition: border-color 0.3s ease, padding 0.3s ease;
}


.card__input:invalid:focus {
  border-bottom-color: red;
}

.card__input:valid:focus {
  border-bottom-color: #28a745;
}


.card__input:focus {
  outline: none;
  padding-left: 1em;
  padding-right: 1em;
}


.card__submit {
  width: 100%;
  margin-top: 2em;
  padding: 0.8em;
  background-color: #2a2727;
  color: white;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.card__submit:hover {
  background-color: #444;
}

.card__actions {
  margin-top: 1em;
  text-align: center;
}

.card__actions p {
  margin-top: 1em;
}

.card__actions a {
  color: #333;
  text-decoration: underline;
}

.card__actions a:hover {
  color: #007bff;
}
